<%= content_tag "div", id: "conversation", data: {conversation: @conversation, root: @root} do %>
<% end %>
<div id="sidebar">
  <% @roots.each do |root| %>
    <%= link_to root.text, root %>
  <% end %>
</div>

<div id="cy" style="position:absolute;left:200px;top:0px;background:#ccc;width:calc(100% - 200px);height:100%;"></div>