// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color:#666;
  }
}
#sidebar {
  padding-top:80px;
  border-right:3px solid #000;
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  overflow-y:auto;
  width:200px;
  background:#333;
  a {
    display:block;
    background:#fff;
    height:50px;
    width:100%;
    margin-top:10px;
    padding:10px;
    &:hover, &:active{
      background:#0f0;
    }
  }
}