*{box-sizing: border-box;}
body {
  background:#DA4300;
  font-size:14px;
  font-family: Helvetica, Arial, Sans-serif;
  color:#333;
  padding:0px;
  margin:0px;
}
input {
  font-family:inherit;
  padding:5px;
}

#cy, #cy canvas {
  border-radius: 30px;
}

#cy {
  background:#EFEFEF;
  border:3px solid #5E1C1D;
  position:absolute;
  left:10px;
  top:10px;
  width:calc(100% - 140px);
  height:calc(100% - 20px);
}

#cy, #right-sidebar {
  box-shadow: 0 0 15px 0 #5E1C1D;
}

#right-sidebar {
  height:100%;
  overflow-y: auto;
  position:absolute;
  top:0px;
  right:0px;
  width:120px;
  border-left:3px solid #5E1C1D;
  background:#EFEFEF;
}

#users, #roots {
  margin:0px;
  padding:0px;
}

.click-border { border-color: #B25D04!important; }
.hover-border { border-color: #A1D028!important; }

#right-sidebar li {
  display:block;
  background:#FFF;
  border-radius:8px;
  padding:8px;
  text-align:center;
  vertical-align: middle;
  line-height:100%;
  margin:10px;
  width:calc(100% - 20px);
  list-style-position:outside;
  border:3px solid #5E1C1D;
}