*{box-sizing: border-box;}
body {
  background:#DA4300;
  font-size:14px;
  font-family: Helvetica, Arial, Sans-serif;
  color:#333;
  padding:0px;
  margin:0px;
}

input {
  font-family:inherit;
  padding:5px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FB0 inset;
  border:1px solid #CCC;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color:#666;
  }
}
.user-page {
  text-align:center;
  form {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:calc(100% - 20px);
    max-width:300px;
    padding:10px;
    border-radius:8px;
    border:3px solid #5E1C1D;
    box-shadow:0 0 15px 0 #5E1C1D;
    background:#EFEFEF;
    input {
      width:100%;
      margin-bottom:10px;
      &[type="checkbox"] {
        width:auto;
      }
    }
  }
}

#sidebar {
  padding-top:80px;
  border-right:3px solid #000;
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  overflow-y:auto;
  width:200px;
  background:#333;
  a {
    display:block;
    background:#fff;
    height:50px;
    width:100%;
    margin-top:10px;
    padding:10px;
    &:hover, &:active{
      background:#0f0;
    }
  }
}

#cy, #cy canvas {
  border-radius: 30px;
}

#cy {
  background:#EFEFEF;
  border:3px solid #5E1C1D;
  position:absolute;
  left:10px;
  top:10px;
  width:calc(100% - 140px);
  height:calc(100% - 20px);
}

#cy, #right-sidebar {
  box-shadow: 0 0 15px 0 #5E1C1D;
}

#right-sidebar {
  height:100%;
  overflow-y: auto;
  position:absolute;
  top:0px;
  right:0px;
  width:120px;
  border-left:3px solid #5E1C1D;
  background:#EFEFEF;
}

#users, #roots {
  margin:0px;
  padding:0px;
}

.click-border { border-color: #B25D04!important; }
.hover-border { border-color: #A1D028!important; }

#right-sidebar li {
  display:block;
  background:#FFF;
  border-radius:8px;
  padding:8px;
  text-align:center;
  vertical-align: middle;
  line-height:100%;
  margin:10px;
  width:calc(100% - 20px);
  list-style-position:outside;
  border:3px solid #5E1C1D;
}

#add-root-form {
  padding:0px;
  padding-top:5px;
}

#add-root-text {
  height:75px;
}

#add-root-form input, #add-root-form textarea {
  width:100%;
}